<h1>Listing Products</h1
<div id="searched">
  <% if @hd_products %>
    <%= render 'store/home_depot' %>
  <% elsif @products %>
    <%= render 'store/index' %>
  <% end %>
</div>
<div class="search_form">
  <%= link_to "New Product", new_product_path, class: "links btn" %>
  <%= form_tag(search_path, method: "get") do %>
    <%= label_tag(:q, "Search For:") %>
    <%= text_field_tag (:q) %>
    <%= label_tag(:home_depot, "Search Home Depot?") %>
    <%= radio_button_tag(:home_depot, true) %>
    <%= submit_tag("Search") %>
  <% end -%>
</div>