<h1>Home depot</h1>
<% @hd_products.each do |prod| %>
  <div id="entry">
    <%= link_to(image_tag(prod[:image_url]), prod[:image_url]) %>
    <h3><%= prod[:title] %></h3>
    <a href="https://www.homedepot.com<%= sanitize(prod[:description]) %>"> View on Home Depot </a>
    <div class="price_line">
      <span class="price"><%= number_to_currency(prod[:price]) %></span>
      <%= button_to 'Create Product', products_path(product: prod), remote: true %>
    </div>
  </div>
<% end -%>