<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div id="entry" class="card flex-item" style="width: 18rem;">
        <%= image_tag(product.image_url, class: "card-img-top") %>
        <div class="card-body">
          <h4 class="card-title"><%= product.title %></h4>
          <p class="card-text">
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= form_tag(line_items_path(product_id: product), remote: true) do %>
              <%= label_tag 'quantity' %>
              <%= select_tag 'quantity', options_for_select(1..15) %>
              <%= submit_tag 'Add to Cart', class: 'btn btn-light'%>
            <% end -%>
          </p>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light'  %>
          <a href="https://www.homedepot.com<%= sanitize(product.description) %>" class="btn btn-light"> Purchase </a>
        </div>
      </div>
    <% end -%>
  <% end %>
<% end -%>